
.App
{
  display: flex;
  justify-content: center;
  margin: 40px auto;
  padding: 15px;
  width: 500px;
  min-height: 400px ;
  background-color: #3CBC8D;
  border-radius: 5px;
  flex-wrap: wrap;
}


